<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{ site.title }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="#">Dashboard</a>
                </li>
              </ul>
            <div class="form-check form-switch ms-3">
                <input class="form-check-input" type="checkbox" id="navbarSwitch" data-bs-toggle="collapse" data-bs-target="#collapse-general" aria-expanded="true" aria-controls="collapse-general" checked>
                <label class="form-check-label text-light" for="navbarSecondSwitch">📚 General journals</label>
            </div>
                <div class="form-check form-switch ms-3">
                <input class="form-check-input" type="checkbox" id="navbarSwitch" data-bs-toggle="collapse" data-bs-target="#collapse-specialized" aria-expanded="false" aria-controls="collapse-specialized">
                <label class="form-check-label text-light" for="navbarSecondSwitch">✨ Field journals</label>
            </div>
            <div class="form-check form-switch ms-3">
                <input class="form-check-input" type="checkbox" id="navbarSwitch" data-bs-toggle="collapse" data-bs-target="#collapse-preprint" aria-expanded="false" aria-controls="collapse-preprint">
                <label class="form-check-label text-light" for="navbarSwitch">🔥 Preprints</label>
            </div>
              <span class="navbar-text ms-3">
                Data update: {{ site.data.update_date | date: "%Y-%m-%d" }}
            </span>        
        </div>
    </div>
</nav>